*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #D3D3D3;
    width: 100%;
    height: 80px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    padding: 20px;
}
.logo{
    float: left;
    color: #000;
    font-weight: bold;
}
.barra{
    float: right;
}
.barra li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: #000;
}
.barra a:hover{
    color: #fff;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(img/nike-5126389_1280.jpg);
    background-size: cover;
}
.call{
    width: 30%;
    color: #000;
    border: 5px solid;
    float: right;
    padding: 20px;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: #000;
}
.call p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.call a{
    color: #000;
    padding: 10px 20px;
    border: 2px solid #000;
}
.call a:hover{
    background-color: #fff;
    border: 3px solid #000;
}


.galeria{
    height: auto;
    width: 100%;
    background-color: #fff;
    border: 5px solid #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "imagen1 imagen2 imagen3 imagen3"
    "imagen1 imagen4 imagen5 imagen6"
    "imagen7 imagen4 imagen8 imagen8";
    grid-gap: 20px;
    padding: 20px;
}
.imagen{
    border: 3px solid #000;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.imagen:hover{
    transform: scale(1.1);
    transition: all 0.9s;
}
.imagen1{
    grid-area: imagen1;
    background-image: url(img/casual-shoes-6981452_1280.jpg);
}
.imagen2{
    grid-area: imagen2;
    background-image: url(img/feet-1840619_640.jpg);
}
.imagen3{
    grid-area: imagen3;
    background-image: url(img/footwear-1837170_640.jpg);
}
.imagen4{
    grid-area: imagen4;
    background-image: url(img/kicks-2213619_640.jpg);
}
.imagen5{
    grid-area: imagen5;
    background-image: url(img/nike-5041716_640.jpg);
}
.imagen6{
    grid-area: imagen6;
    background-image: url(img/nike-5128118_640.jpg);
}
.imagen7{
    grid-area: imagen7;
    background-image: url(img/shoes-5015809_640.jpg);
}
.imagen8{
    grid-area: imagen8;
    background-image: url(img/shoes-5379214_640.jpg);
}



h2{
    text-align: center;
    background-color: #D3D3D3;
    font-size: 30px;
    padding: 20px;
}
.galeria2{
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 20px;
}
.galeria2 .item:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}
.item{
    width: 100%;
    background-color: #fff;
    border: 5px solid #D3D3D3;
    background-size: cover;
    background-position: center;
}
.item1{
    background-image: url(img/casual-shoes-6981452_1280.jpg);
}
.item2{
    background-image: url(img/feet-1840619_640.jpg);
}
.item3{
    background-image: url(img/footwear-1837170_640.jpg);
}
.item4{
    background-image: url(img/kicks-2213619_640.jpg);
}
.item5{
    background-image: url(img/nike-5041716_640.jpg);
}
.item6{
    background-image: url(img/nike-5128118_640.jpg);
}
.item7{
    background-image: url(img/shoes-5015809_640.jpg);
}
.item8{
    background-image: url(img/shoes-5379214_640.jpg);
}
@media only screen and (min-width:480px){
    .galeria2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}
@media only screen and (min-width:768px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }
}
@media only screen and (min-width:1150px){
    .galeria2{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
    }
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.redes i{
    font-size: 30px;
    letter-spacing: 15px;
    color: #fff;
}

.flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.punto{

    background-color: #000;
    color: #fff;
    border: 2px solid #D3D3D3;
    text-align: center;
    font-size: 25px;
    line-height: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    justify-content: space-around;
}

.punto3 h1{
    color: #fff;
    font-size: 22px;
    

}
